
            <div class="page-header bordered">
              <h1>BookMarked Listings</h1>
            </div>
              <div class="row item-listing grid">
                    <div ng-repeat="prop in myList.propertyList track by $index" class="item col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-6" id="prop{{$index}}">
                        <div class="item-image">
                            <a class="item-image" href="#business_details/{{prop.businessId}}">
                                <img src="{{prop.imageUrl}}" style="width:400px;height:240px" class="img-fluid" alt="">
                                <a class="save-item" ng-class="{'save-item-active': prop.isBookMarked}" ng-click="bookMarked(prop, $index, myList.pageNumber)"><i class="fa fa-star"></i></a>
                            </a>

                            <a href="#business_details/{{prop.businessId}}" class="item-meta">
                                <span class="item-badge-left item-address">For Sale{{prop.propertyAvailableFor}}</span>
                                <span class="item-badge-right item-address">{{prop.businessType}}</span>
                                <br/>
                                <span class="item-price" ng-if="prop.estatedEstimatedValue">{{ prop.estatedEstimatedValue | currency : "$" : false }}</span> &nbsp;&nbsp;
                                <span class="item-badge-right item-price" ng-if="prop.lotSize">{{prop.lotSize}} sq ft.</span>
                                <br/>
                                <span class="item-address" ng-if="prop.property_name">{{prop.propertyName}}</span>
                                <br/>
                                <span class="item-address">{{ prop.propertyAddress }}, {{prop.city}}, {{prop.state}} {{prop.zipCode}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                
               
			<nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" ng-click="next(myList.pageNumber - 1)">prev</a></li>
                <li class="page-item"><a class="page-link" ng-click="next(myList.pageNumber + 1)">next</a></li>
              </ul>
            </nav>