<style>
    .col-md-6, .col-lg-6, .col-xl-6 {
        padding: 0;
    }
    .col-md-6, .col-lg-6, .col-xl-6 {
        padding: 0 0 0 15px;
    }
    .col-md-5, .col-lg-5, .col-xl-5 {
        padding: 0 5px 0 5px;
    }

    .col-md-4, .col-lg-4, .col-xl-4 {
        padding: 0 5px 0 5px;
    }

    .col-md-3, .col-lg-3, .col-xl-3 {
        padding: 0 5px 0 5px;
    }

    .col-md-2, .col-lg-2, .col-xl-2 {
        padding: 0 5px 0 5px;
    }
    .col-md-1, .col-lg-1, .col-xl-1 {
        padding: 0 5px 0 5px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#search/Buy">Business for Sale</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{businessDetails.name}}</li>
            </ol>
            <div class="page-header bordered">
                <div class="row">
                    <div class="col-md-10"> <a href="#" class="btn-return" title="Back"><i class="fa fa-angle-left"></i></a>
                        <h1>{{businessDetails.name}} ({{businessDetails.type}}) <small><i class="fa fa-map-marker"></i> {{businessDetails.street1}}, {{businessDetails.street2}}, {{businessDetails.city}} {{businessDetails.stateCode}}</small></h1>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-group-justified" role="group">
                            <button class="btn btn-light" data-toggle="tooltip" title="Save to favorites"><i class="fa fa-star" aria-hidden="true"></i></button>
                            <button class="btn btn-light" data-toggle="tooltip" title="Print this page"><i class="fa fa-print" aria-hidden="true"></i></button>
                            <button class="btn btn-light" data-toggle="modal" data-target="#email-to-friend"><span data-toggle="tooltip" title="Email to Friend"><i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
                            <button class="btn btn-light" data-toggle="modal" data-target="#report-listing"><span data-toggle="tooltip" title="Report Listing"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span></button>
                        </div>
                        <!--<div class="price">${{businessDetails.price}} <small>${{businessDetails.pricePerSqft}}/sq ft</small></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="item-single" style="padding-top: 0">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-md-center">
                    <div class="col-xl-6">
                        <div>
                            <div class="swiper-container gallery-top" data-pswp-uid="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" ng-repeat="image_prop in imageArray track by image_prop.imageId">
                                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <img src={{image_prop.url}} class="img-fluid swiper-lazy" style="height:450px; width:1024px" alt="Drawing Room">
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-button-next swiper-button-white" ng-if="imageArray.length > 1"></div>
                                <div class="swiper-button-prev swiper-button-white" ng-if="imageArray.length > 1"></div>
                            </div>
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper" ng-if="imageArray.length > 1">
                                    <div class="swiper-slide" ng-repeat="prop in imageArray" style="width:60px;height:50px;" >
                                        <!--<div class="swiper-slide" ng-style="{'background-image':'url({{prop_image.imageUrl}})'}" style="width:60px;height:50px"></div>-->
                                        <!--<div class="swiper-slide" style="background-image:url(https://picsum.photos/200/300/?random);width:60px;height:50px;"></div>-->
                                        <img src={{prop.url}} style="width:60px;height:50px;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div id="sidebar">
                            <div>
                                <div id="feature-list" role="tablist" class="row">
                                    <div class="col-lg-6 col-xl-6">
                                        <div class="card shadow">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h4 class="panel-title">For sale</h4>
                                            </div>
                                            <div id="specification" class="panel-collapse collapse show" role="tabpanel">
                                                <div class="card-body">
                                                    <table class="table v1">
                                                        <tr style="border-style:hidden" ng-if="businessDetails.forSellPrice">
                                                            <td style="padding: 0.25rem">Owner Asking Price</td>
                                                            <td style="padding: 0.25rem">${{businessDetails.forSellPrice}}</td>
                                                        </tr>
                                                        <tr style="border-style:hidden">
                                                            <td style="padding: 0.25rem">Listing Date</td>
                                                            <td style="padding: 0.25rem">{{businessDetails.createDate}}</td>
                                                        </tr>
                                                        <tr style="border-style:hidden">
                                                            <td style="padding: 0.25rem">Listing Number</td>
                                                            <td style="padding: 0.25rem">{{businessDetails.businessId}}</td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <div class="card-header" role="tab">
                                                    <h4 class="panel-title">BRW estimates</h4>
                                                </div>
                                                <div id="specification" class="panel-collapse collapse show" role="tabpanel">
                                                    <div class="card-body">
                                                        <div ng-repeat="estimate in estimateList track by estimate.id">
                                                            <table class="table v1" style="border-bottom: 1rem">
                                                                <tr style="border-style:hidden" ng-if="estimate.model">
                                                                    <td style="padding: 0.1rem"> {{estimate.label}} <i class="fa fa-question-circle"></i></td>
                                                                    <td style="padding: 0.1rem">{{estimate.model}}</td>
                                                                </tr>
                                                                <tr style="border-style:hidden" ng-if="estimate.range">
                                                                    <td style="padding: 0.1rem">Range <i class="fa fa-question-circle"></i></td>
                                                                    <td style="padding: 0.1rem">{{estimate.range}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6">
                                        <div class="card shadow">
                                            <div id="specification" class="panel-collapse collapse show" role="tabpanel">
                                                <div class="card-body">
                                                    <div class="media-body" style="margin-bottom: 10px;">
                                                        <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#makeOffer">Make an Offer</button>
                                                        <p>If you make an offer, it can't be refused</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 0;margin-bottom: 0">
                                            <div id="specification" class="panel-collapse collapse show" role="tabpanel">
                                                <div class="card-body">
                                                    <div style="text-align: center">
                                                        <a href="agent.html">
                                                            <img class="media-object rounded-circle" src="http://via.placeholder.com/300x300" width="64" height="64" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="media-left">
                                                        <p style="margin: 0"><a href="agent.html">Local Area Expert</a></p>
                                                        <p style="margin: 0"><a href="agent.html">Business Buying Adviser</a></p>
                                                        <!--<h4><a href="agent.html">{{businessDetails.broker_name}}}</a></h4>-->
                                                        <p style="margin: 0">Call - {{businessDetails.buying_adviser_phone_number}}</p>
                                                        <p style="margin: 0">Email - {{businessDetails.buying_adviser_email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 0;margin-bottom: 0">
                                            <!--<button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#leadform">Request Details</button>-->
                                            <div id="specification" class="panel-collapse collapse show" role="tabpanel">
                                                <div class="card-body">
                                                    <div style="text-align: center">
                                                        <a href="agent.html">
                                                            <img class="media-object rounded-circle" src="http://via.placeholder.com/300x300" width="64" height="64" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="media-body" style="margin: 0">
                                                        <p style="margin: 0">Listed By {{businessDetails.seller_type}}</p>
                                                        <p style="margin: 0"><a href="agent.html">John Doe</a></p>
                                                        <!--<h4><a href="agent.html">{{businessDetails.broker_name}}}</a></h4>-->
                                                        <p style="margin: 0">Call - {{businessDetails.phone}}</p>
                                                        <p style="margin: 0">Email - {{businessDetails.email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-md-center">
                    <div>
                        <h3 class="headline" ng-if="businessDetails.description">Business description</h3>
                        <div class="row" style="margin:10px" ng-if="businessDetails.description">
                            <p style="margin-bottom: 0">{{businessDetails.description}}</p>
                            <p style="margin-bottom: 0">Well established, profitable Chevron branded gas station and C-Store in Alameda County in the Fremont City, Central California. Located on a busy Highway that serves not only local patrons but travelers and the working population as well. Not only is it successful as it is, it has a tremendous upside.</p>
                            <p style="margin-bottom: 0">The Convenience Store is setup to have a Deli in it and has room to expand. It has a drive through car wash and two large propane tanks. There are three tanks with a total volume of 30,000 gallons, four MPD’s with 12 gas nozzles and 2 diesel nozzles. Offering includes the business and real estate.</p>
                        </div>

                        <h3 class="headline" ng-if="businessCommonFeatures" >Business Details</h3>
                        <div class="row" style="margin:10px" ng-if="businessCommonFeatures">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" ng-repeat="feature in businessCommonFeatures track by feature.id"
                                 ng-if="feature.model || feature.model != '0'">
                                    <div class="details-group-title">{{feature.label}}</div>
                                    <div ng-if="isNumber(feature.model)">
                                        <p style="margin-bottom: 0">{{feature.model | number}}</p>
                                    </div>
                                    <div ng-if="!isNumber(feature.model)">
                                        <div ng-if="feature.label === 'Website'">
                                            <a href={{feature.model}} target="_blank" style="margin-bottom: 0">{{feature.model}}</a>
                                        </div>
                                        <div ng-if="feature.label !== 'Website'">
                                            <p style="margin-bottom: 0">{{feature.model}}</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="details-group-title">Claimed by Owner</div>
                                <div ng-if="businessDetails.isOwnerClaimed === 'Y'">
                                    <p style="margin-bottom: 0">Yes</p>
                                </div>
                                <div ng-if="businessDetails.isOwnerClaimed === 'N'">
                                    <p style="margin-bottom: 0">No <a href="">Claim Business</a> </p>
                                </div>
                            </div>
                        </div>
<!--                        <h3 class="headline">Business Details</h3>-->
<!--                        <div ng-if="businessDetails.type === 'RESTAURANT'" ng-include="'resources/pages/businessDetailTemplates/restaurantDetailTemplate.html'"></div>-->
<!--                        <div ng-if="businessDetails.type === 'Gas Station'" ng-include="'resources/pages/businessDetailTemplates/gasStationDetailTemplate.html'"></div>-->
<!--                        <div ng-if="businessDetails.type === 'Laundry'" ng-include="'resources/pages/businessDetailTemplates/coinLaundryDetailTemplate.html'"></div>-->
<!--                        &lt;!&ndash;<div ng-if="businessDetails.propertyMetaData.businessType === 'Dry Cleaners'" ng-include="'resources/pages/businessDetailTemplates/dryCleanersDetailTemplate.html'"></div>&ndash;&gt;-->
<!--                        <div ng-if="businessDetails.type === 'Liquor Store'" ng-include="'resources/pages/businessDetailTemplates/liquorStoreDetailTemplate.html'"></div>-->
<!--                        <div ng-if="businessDetails.type === 'BEAUTY'" ng-include="'resources/pages/businessDetailTemplates/beautySalonDetailTemplate.html'"></div>-->
                            <h3 class="headline">
                                Equipment List
                                <button type="button" ng-click="expandEquipments(!equipmentExpanded)">
                                    <span ng-bind="equipmentExpanded ? '-' : '+'"></span>
                                </button>
                            </h3>
                            <div class="row" style="margin:10px" ng-show="equipmentExpanded">
                                <div ng-if="equipmentList.length > 0" ng-repeat="equipment in equipmentList track by equipment.id" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <div class="details-group-title" ng-if="equipment.label">
                                        {{equipment.label}}
                                    </div>
                                    <p style="margin-bottom: 0" ng-if="equipment.quantity">Quantity - {{equipment.quantity}}</p>
                                    <p style="margin-bottom: 0" ng-if="equipment.pricePerUnit">Per unit cost - {{equipment.pricePerUnit | number}}</p>
                                    <p style="margin-bottom: 0" ng-if="equipment.maintenanceCost">Monthly maintenance cost - {{equipment.maintenanceCost | number}}</p>
                                </div>
                                <div ng-if="equipmentList.length === 0">
                                    <p>Sorry, We don't have equipments information for this Business.</p>
                                </div>
                            </div>
                    </div>
                </div>
    </div>
</div>
<!--<div class="container col col-md-12 col-lg-12 col-xl-12">-->
<!--    <h3 class="subheadline">Similar Listings</h3>-->
<!--    <div class="similar-listing-container">-->
<!--        <div class="swiper-container-per-group">-->
<!--            <div class="swiper-wrapper item-listing">-->
<!--                <div class="swiper-slide item" ng-repeat="property in similarPropertyList">-->
<!--                    <div class="item-image">-->
<!--                        <a class="item-image" href="#propertyDetails/{{property.id}}">-->
<!--                            <img src="{{property.imageUrl}}" style="width:400px;height:240px" class="img-fluid" alt="">-->
<!--                            &lt;!&ndash;<a href="#" class="save-item"><i class="fa fa-star"></i></a>&ndash;&gt;-->
<!--                        </a>-->

<!--                        <a href="#propertyDetails/{{property.id}}" class="item-meta">-->
<!--                            <span class="item-badge-left item-address">For Sale{{property.propertyAvailableFor}}</span>-->
<!--                            <span class="item-badge-right item-address">{{property.businessType}}</span>-->
<!--                            <br/>-->
<!--                            <span class="item-price" ng-if="property.estatedEstimatedValue">{{ property.estatedEstimatedValue | currency : "$" : false }}</span> &nbsp;&nbsp;-->
<!--                            <span class="item-badge-right item-price" ng-if="property.lotSize">{{property.lotSize}} sq ft.</span>-->

<!--                            <span class="item-address" ng-if="property.property_name">{{property.propertyName}}</span>-->

<!--                            <span class="item-address">{{ property.propertyAddress }}, {{property.city}}, {{property.state}} {{property.zipCode}}</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--            <div class="swiper-pagination"></div>-->
<!--            &lt;!&ndash; Add Arrows &ndash;&gt;-->
<!--            <div class="swiper-button-next swiper-button-white"></div>-->
<!--            <div class="swiper-button-prev swiper-button-white"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Lead Form Modal -->
<div class="modal fade  item-badge-rightm" id="leadform" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="media">
                    <div class="media-left"><img src="http://via.placeholder.com/440x310" width="60" class="img-rounded mt5" alt=""></div>
                    <div class="media-body">
                        <h4 class="media-heading">Request details</h4></div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <label>Your Telephone</label>
                        <input type="tel" class="form-control" placeholder="Your Telephone">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="4" class="form-control" placeholder="Please include any useful details, i.e. current status, availability for viewings, etc."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Request Details</button>
            </div>
        </div>
    </div>
</div>

<!-- Email to friend Modal -->
<div class="modal fade item-badge-rightm" id="email-to-friend" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="media">
                    <div class="media-left"> <img src="http://via.placeholder.com/440x310" width="60" class="img-rounded mt5" alt=""> </div>
                    <div class="media-body">
                        <h4 class="media-heading">Email friend about 2 bed semi-detached bungalow for sale</h4>
                        Kents Lane, Bungay NR35 </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <label>Friends Email</label>
                        <input type="email" class="form-control" placeholder="Friends Email">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="4" class="form-control" placeholder="">I thought you might want to take a look at this property for sale.</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Request Details</button>
            </div>
        </div>
    </div>
</div>

<!-- Report Listing Modal -->
<div class="modal fade item-badge-rightm" id="report-listing" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="media">
                    <div class="media-left"> <i class="fa fa-3x fa-exclamation-circle" aria-hidden="true"></i> </div>
                    <div class="media-body">
                        <h4 class="media-heading">Report Listing for 2 bed semi-detached bungalow for sale</h4>
                        Kents Lane, Bungay NR35 </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Contact Name</label>
                        <input type="text" class="form-control" placeholder="Contact Name">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label>Nature of report</label>
                        <select class="form-control">
                            <option value="">Please Select</option>
                            <option value="no_longer_available">Property is no longer available</option>
                            <option value="incorrect_price">Price listed is incorrect</option>
                            <option value="incorrect_last_sold_price">Last sold price incorrect</option>
                            <option value="incorrect_description">Property description is inaccurate</option>
                            <option value="incorrect_location">Property location is incorrect</option>
                            <option value="incorrect_content">Problem with photos, floorplans, etc.</option>
                            <option value="inappropriate_video">Problem with the video</option>
                            <option value="agent_not_contactable">Agent is not contactable</option>
                            <option value="incorrect_running_costs">Running costs is displaying inaccurate values</option>
                            <option value="other">Other (please specify)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description of content issue </label>
                        <textarea rows="4" class="form-control" placeholder="Please provide as much information as possible..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Report Error</button>
            </div>
        </div>
    </div>
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>