<!--Dry Cleaners-->
<h3 class="subheadline" >Dry Cleaners</h3>
<div class="row form-group">

    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Equipments</label><br/>
        <div class="row form-group">
            <div ng-repeat="equipment in dryCleanersEquipmentsList track by $index" id="equipment{{index}}"
                 class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" name="{{equipment.model}}" id="{{equipment.model}}"
                           ng-checked="{{equipment.checked}}">
                    <label for="{{equipment.model}}">{{equipment.label}}</label>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Type Of Service</label><br/>
        <div class="row form-group">
            <div ng-repeat="dryCleanersTypeOfService in dryCleanersTypeOfServiceList track by $index" id="dryCleanersTypeOfService{{index}}"
                 class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" name="{{dryCleanersTypeOfService.model}}" id="{{dryCleanersTypeOfService.model}}"
                           ng-checked="{{dryCleanersTypeOfService.checked}}">
                    <label for="{{dryCleanersTypeOfService.model}}">{{dryCleanersTypeOfService.label}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Open Hours</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.openHours">
    </div>
    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Number of Restrooms</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.numberOfRestrooms">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
            <label>Agency Association</label><br/>
            <div class="radio radio-inline">
                <input type="radio" id="agencyAssociation" ng-model="property.dryCleaners.agencyAssociation" value="Yes">
                <label for="agencyAssociation">Yes</label>
            </div>
            <div class="radio radio-inline">
                <input type="radio" id="noAgencyAssociation" ng-model="property.dryCleaners.agencyAssociation" value="No">
                <label for="noAgencyAssociation">No</label>
            </div>
        </div>

        <div class="form-group" ng-show="property.dryCleaners.agencyAssociation == 'Yes'">
            <label>List Associated Agencies Name</label>
            <textarea class="form-control form-control-md text-editor" ng-model="property.dryCleaners.agencyDesc" placeholder=""></textarea>
        </div>
    </div>
    <!--Expenses-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExpenses = ! hideExpenses">
            <label ng-class="{'details-not-expanded': hideExpenses, 'details-expanded': !hideExpenses}" >Expense Details</label>
            <img ng-show="!hideExpenses" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExpenses" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExpenses">
            <div class="row">
                <div ng-repeat="expense in expensesList track by $index" id="expense{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{expense.label}}</label>
                    <input type="text" name="{{expense.model}}" class="form-control form-control-md"
                           placeholder="{{expense.placeholder}}" id="{{expense.model}}">
                </div>
            </div>
        </div>
    </div>

</div>
