<!--Liquor Store-->
<h3 class="subheadline" >Liquor Store</h3>
<div class="row form-group">
    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Approx Inventory Cost</label>
        <input type="text" class="form-control form-control-md" placeholder="$" ng-model="property.liquorStore.storeInventoryCost">
    </div>
    <div class="form-group col-md-6 col-lg-6 col-xl-6">
            <label>ATM Machine</label><br/>
            <div class="radio radio-inline">
                <input type="radio" id="atm" ng-model="property.atm" value="Yes">
                <label for="atm">Yes</label>
            </div>
            <div class="radio radio-inline">
                <input type="radio" id="noAtm" ng-model="property.atm" value="No">
                <label for="noAtm">No</label>
            </div>
    </div>
    <!--Interior-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideInterior = ! hideInterior">
            <label ng-class="{'details-not-expanded': hideInterior, 'details-expanded': !hideInterior}" >Interior Details</label>
            <img ng-show="!hideInterior" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideInterior" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideInterior">
            <div class="row">
                <div ng-repeat="interiorInput in liquorStoreInteriorInputList track by $index" id="interiorInput{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{interiorInput.label}}</label>
                    <input type="text" name="{{interiorInput.model}}" class="form-control form-control-md"
                           placeholder="{{interiorInput.placeholder}}" id="{{interiorInput.model}}">
                </div>
            </div>
        </div>
    </div>


    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Open Hours</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.openHours">
    </div>
    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Number of Restrooms</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.numberOfRestrooms">
    </div>
    <!--Expenses-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExpenses = ! hideExpenses">
            <label ng-class="{'details-not-expanded': hideExpenses, 'details-expanded': !hideExpenses}" >Expense Details</label>
            <img ng-show="!hideExpenses" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExpenses" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExpenses">
            <div class="row">
                <div ng-repeat="expense in expensesList track by $index" id="expense{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{expense.label}}</label>
                    <input type="text" name="{{expense.model}}" class="form-control form-control-md"
                           placeholder="{{expense.placeholder}}" id="{{expense.model}}">
                </div>
            </div>
        </div>
    </div>

</div>
