<h3 class="subheadline">Restaurants</h3>
<div class="row form-group">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Cuisine Type</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.rest.cuisineType">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Description</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.rest.desc">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideKitchen = ! hideKitchen">
            <label ng-class="{'details-not-expanded': hideKitchen, 'details-expanded': !hideKitchen}" >Kitchen Details</label>
            <img ng-show="!hideKitchen" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideKitchen" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideKitchen">
            <div class="row">
                <div ng-repeat="kitchenInput in kitchenInputList track by $index" id="kitchenInput{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{kitchenInput.label}}</label>
                    <input type="text" name="{{kitchenInput.model}}" class="form-control form-control-md"
                           placeholder="{{kitchenInput.placeholder}}" id="{{kitchenInput.model}}">
                </div>
            </div>
            <label>Appliances</label>
            <div class="row form-group">
                <div ng-repeat="kitchenAppliance in kitchenAppliancesList track by $index" id="kitchenAppliance{{index}}"
                     class="col-md-6 col-lg-6 col-xl-6">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" name="{{kitchenAppliance.model}}" id="{{kitchenAppliance.model}}"
                               ng-checked="{{kitchenAppliance.checked}}">
                        <label for="{{kitchenAppliance.model}}">{{kitchenAppliance.label}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Interior-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideInterior = ! hideInterior">
            <label ng-class="{'details-not-expanded': hideInterior, 'details-expanded': !hideInterior}" >Interior Details</label>
            <img ng-show="!hideInterior" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideInterior" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideInterior">
            <div class="row">
                <div ng-repeat="interiorInput in interiorInputList track by $index" id="interiorInput{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{interiorInput.label}}</label>
                    <input type="text" name="{{interiorInput.model}}" class="form-control form-control-md"
                           placeholder="{{interiorInput.placeholder}}" id="{{interiorInput.model}}">
                </div>
            </div>
        </div>
    </div>

    <!--Expenses-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExpenses = ! hideExpenses">
            <label ng-class="{'details-not-expanded': hideExpenses, 'details-expanded': !hideExpenses}" >Expense Details</label>
            <img ng-show="!hideExpenses" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExpenses" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExpenses">
            <div class="row">
                <div ng-repeat="expense in expensesList track by $index" id="expense{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{expense.label}}</label>
                    <input type="text" name="{{expense.model}}" class="form-control form-control-md"
                           placeholder="{{expense.placeholder}}" id="{{expense.model}}">
                </div>
            </div>
        </div>
    </div>

    <!--Revenue-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideRevenue = ! hideRevenue">
            <label ng-class="{'details-not-expanded': hideRevenue, 'details-expanded': !hideRevenue}" >Revenue Details</label>
            <img ng-show="!hideRevenue" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideRevenue" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideRevenue">
            <div class="row">
                <div ng-repeat="revenuePerMonth in revenuePerMonthList track by $index" id="revenue{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{revenuePerMonth.label}}</label>
                    <input type="text" name="{{revenuePerMonth.model}}" class="form-control form-control-md"
                           placeholder="{{revenuePerMonth.placeholder}}" id="{{revenuePerMonth.model}}">
                </div>
            </div>
        </div>
    </div>
    <!--Employees-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideEmployees = ! hideEmployees">
            <label ng-class="{'details-not-expanded': hideEmployees, 'details-expanded': !hideEmployees}" >Employees Details</label>
            <img ng-show="!hideEmployees" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideEmployees" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideEmployees">
            <div class="row">
                <div ng-repeat="employee in employeesList track by $index" id="employee{{index}}"
                     class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>{{employee.label}}</label>
                    <input type="text" name="{{employee.model}}" class="form-control form-control-md"
                           placeholder="{{employee.placeholder}}" id="{{employee.model}}">
                </div>
            </div>
        </div>
    </div>

</div>
