<!--<div ng-include="'resources/pages/advanceFilterMenuBar.html'"></div>-->

<div class="map-listing">
  <div class="row no-gutters has-map fixed">
    <div class="col-sm-4 col-md-6 col-lg-7 col-xl-6">
        <div id="map-wrapper">
            <div class="map-panel">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping"></div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 col-xl-6">
        <div class="search-results">
            <div class="search-results-list">
                <div style="color:red;">*Businesses in stealth mode are not marked on Map.
                    <i class="fa fa-info-circle" style="font-size:14px;" data-toggle="popover" data-trigger="hover"
                       data-content="Business in stealth mode is confidential business and we don't disclose name and address of confidential business anywhere on our website."></i>
                </div>
                <div class="page-header">
                    <h1 ng-if="businessName">{{businessName}} near {{businessCity}}, {{businessState}}</h1>
                    <h1 ng-if="!businessName">{{businessType}} near {{businessCity}}, {{businessState}}</h1>
                </div>
<!--                <div class="sorting">-->
<!--                  <div class="row justify-content-between">-->
<!--                    <div class="col-sm-6 col-lg-4">-->
<!--                      <div class="form-group">-->
<!--                        <select class="form-control form-control-md">-->
<!--                            <option selected="selected">Most recent</option>-->
<!--                            <option>Highest price</option>-->
<!--                            <option>Lowest price</option>-->
<!--                            <option>Most reduced</option>-->
<!--                            <option>Most popular</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  &lt;!&ndash; <div class="col-sm-6 col-lg-4">-->
<!--                  <div class="btn-group float-right" role="group"> <a href="property_grid.html" class="btn btn-light"><i class="fa fa-th"></i></a> <a href="property_listing.html" class="btn btn-light active"><i class="fa fa-bars"></i></a> </div>-->
<!--                  </div> &ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->
            
                <div class="clearfix"></div>

                <div class="row item-listing grid">
                    <div ng-repeat="prop in searchList | startFrom:currentPage*itemsPerPage | limitTo:itemsPerPage" class="item col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-6" id="prop{{$index}}">
                            <a href="#businessDetails/{{prop.businessId}}">
                                <div class="item-image" style="height:200px">
                                    <img src="{{prop.imageFirst}}" style="width:350px;height:200px" class="img-fluid" alt="">
                                    <div class="row item-badge-left save-item-left" ng-if="prop.isForSell">
                                        <img src="../../img/icon/red_marker.svg" style="width:20px;height:20px"/>
                                        <span>For Sale</span>
                                    </div>
                                    <a class="save-item" ng-class="{'save-item-active': prop.isBookMarked}" ng-click="bookMarked(prop, $index)"><i class="fa fa-star"></i></a>
                                    <div class="item-badge-left save-item-bottom-left" ng-if="prop.name">
                                        <span>{{prop.name}}</span>
                                        <div ng-if="prop.isHidden === 'N' && (prop.street1 || prop.city)">
                                            <span class="item-address" ng-if="prop.street1 && prop.street2">{{prop.street1}}, {{prop.street2}}, {{prop.city}} {{prop.stateCode}} {{prop.zip}}</span>
                                            <span class="item-address" ng-if="prop.street1 && !prop.street2">{{prop.street1}}, {{prop.city}} {{prop.stateCode}} {{prop.zip}}</span>
                                            <span class="item-address" ng-if="!prop.street1 && !prop.street2">{{prop.city}} {{prop.stateCode}} {{prop.zip}}</span>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <a href="#businessDetails/{{prop.businessId}}">
                                <div style="padding:5px;">
                                    <p class="item-price" ng-if="prop.isForSell === 'Y'">Asking Price ${{ prop.forSellPrice.toLocaleString('en', {useGrouping:true}) }}</p>
                                    <p class="item-price">Click to find RealWorthTM & more details!!</p>
<!--                                    <p class="item-price" ng-if="prop.marketBasedEst">Market Estimated Price ${{ prop.marketBasedEst.toLocaleString('en', {useGrouping:true})}}</p>-->

<!--                                    <p class="item-badge-right item-address">{{prop.type}}</p>-->
                                </div>
                            </a>
                    </div>
                </div>
                <div ng-if="searchList.length > 0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pg-blue justify-content-center" style="margin:10px">
                            <li class="page-item"><a class="page-link" ng-click="changePage(1)">First</a></li>
                            <li ng-class="currentPage + 1 <= 1 ? 'page-item disabled': 'page-item'">
                                <a class="page-link" aria-label="Previous" ng-click="disablePrevious()">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" ng-click="changePage(1)">1</a>
                            </li>
                            <li ng-class="numberOfPages < 2 ? 'page-item disabled': 'page-item'">
                                <a class="page-link" ng-click="changePage(2)">2</a>
                            </li>
                            <li ng-class="numberOfPages < 3 ? 'page-item disabled': 'page-item'">
                                <a class="page-link" ng-click="changePage(3)">3</a>
                            </li>
                            <li ng-class="currentPage + 1 >= numberOfPages ? 'page-item disabled': 'page-item'">
                                <a class="page-link" aria-label="Next" ng-click="disableNext()">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-click="changePage(numberOfPages)">Last</a>
                            </li>

                            <span style="margin:10px">
                                Page {{currentPage + 1}} / {{numberOfPages}}
                            </span>

                            <span style="margin:10px">
                                View Per Page
                                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                                    <option>10</option><option>20</option><option>50</option><option>100</option><option>200</option>
                                </select>
                            </span>

                        </ul>

                    </nav>
                </div>

                <!--<div class="item-listing list">-->
            <!--<div ng-repeat="prop in searchList track by $index" class="item" id="prop{{index}}">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-5">-->
                        <!--<div class="item-image"> <a href="#propertyDetails/{{prop.id}}"><img src="{{prop.img_url}}" style="width:440px;height:200px" class="img-fluid" alt="">-->
                            <!--<div class="item-badges">-->
                                <!--&lt;!&ndash; <div class="item-badge-left">Sponsored</div> &ndash;&gt;-->
                                <!--<div class="item-badge-right">For {{prop.property_available_for}}</div>-->
                            <!--</div>-->
                            <!--<div class="item-meta">-->
                                <!--<div class="item-price">-->
                                    <!--<small>${{prop.pricePerSqFt}} / sq ft</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                            <!--<a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="item-listing list">-->
          <!--<div ng-repeat="prop in searchList track by $index" class="item" id="prop{{index}}">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-5">-->
                <!--<div class="item-image"> <a href="#propertyDetails/{{prop.id}}"><img src="{{prop.img_url}}" style="width:440px;height:200px" class="img-fluid" alt="">-->
                  <!--<div class="item-badges">-->
                  <!--&lt;!&ndash; <div class="item-badge-left">Sponsored</div> &ndash;&gt;-->
                  <!--<div class="item-badge-right">For {{prop.property_available_for}}</div>-->
                  <!--</div>-->
                  <!--<div class="item-meta">-->
                  <!--<div class="item-price">-->
                  <!--<small>${{prop.pricePerSqFt}} / sq ft</small>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</a>-->
                  <!--<a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>-->
              <!--</div>-->
              <!--<div class="col-lg-7">-->
              <!--<div class="item-info">-->
                <!--<h3 class="item-title">-->
                  <!--<a href="#propertyDetails/{{prop.id}}" ng-if="isAuthenticated">{{ prop.property_name }}</a>-->
                  <!--<a ng-click="authService.login()" ng-if="!isAuthenticated">{{ prop.property_name }}</a>-->
                <!--</h3>-->
                <!--<div class="item-location"><i class="fa fa-map-marker"></i> {{prop.property_address}} {{prop.city}} {{prop.state}} {{prop.zip_code}}</div>-->
                <!--&lt;!&ndash; <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div> &ndash;&gt;-->
                <!--<div class="item-details">-->
                  <!--<ul>-->
                    <!--<li>Sq Ft <span>{{prop.lot_size}}</span></li>-->
                    <!--<li>Type <span>{{prop.zoning_category}}</span></li>-->
                  <!--</ul>-->
                <!--</div>-->
             <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                                    <!--<div class="added-on">Listed on {{prop.listedOn}} </div>-->

                <!--</div>-->
                <!--<div class="col-md-6">-->
                                     <!--<a href="#" class="added-by">by {{prop.current_owner_name}}</a>-->

                <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

<!--  <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav> -->
            </div>
        </div>
    </div>
  </div>
</div>

<script src="lib/map/markerclusterer.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_hBkjJyRoMYVqN6DdM7E8mWTtDO-mVns&callback=initMap"></script>
