<div class="row business-specific-details-container">
        <div class="super-group-title col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-click="editRestDetails = ! editRestDetails">
            <label style="font-size: 14px;float: left;margin-bottom: 0px;">Restaurant Details</label>
            <div style="font-size: 14px; float:right;">
                <a href="" ng-show="!editRestDetails" >Edit</a>
                <a href="" ng-show="editRestDetails"
                   ng-click="updateRestDetails()">Save</a>
                <a href="" ng-show="editRestDetails"
                   ng-click="cancelUpdateRestDetails(oldRest)">Cancel</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-show="!editRestDetails">
            <div class="super-group-content">
                <ul class="ul-style">
                    <div class="no-break-inside">
                        <li class="entry-item" ng-if="propDetails.type">
					<span class="entryItemContent">Cuisine Type:
						<span>{{propDetails.type}}</span>
					</span>
                        </li>
                        <li class="entry-item" ng-if="propDetails.description">
					<span class="entryItemContent">Description:
						<span>{{propDetails.description}}</span>
					</span>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-show="editRestDetails">
            <div class="row form-group">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <label>Cuisine Type</label>
                    <input type="text" class="form-control form-control-md" placeholder=""
                           ng-model="propDetails.type"  ng-init="oldRest.type=propDetails.type">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <label>Description</label>
                    <input type="text" class="form-control form-control-md" placeholder=""
                           ng-model="propDetails.description"  ng-init="oldRest.description=propDetails.description">
                </div>
        </div>
    </div>
</div>

<div class="row business-specific-details-container">
    <div class="super-group-title col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-click="editInterior = ! editInterior">
        <label style="font-size: 14px;float: left;margin-bottom: 0px;">Interior Features</label>
        <div style="font-size: 14px; float:right;">
            <a href="" ng-show="!editInterior" >Edit</a>
            <a href="" ng-show="editInterior"
               ng-click="updateRestDetails()">Save</a>
            <a href="" ng-show="editInterior"
               ng-click="cancelUpdateRestDetails(oldRest)">Cancel</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-show="!editInterior">
        <div class="super-group-content">
            <ul class="ul-style">
                <div class="no-break-inside">
                    <li class="entry-item" ng-if="propDetails.interiorFeatures">
					<span class="entryItemContent">Interior Features:
						<span>{{propDetails.interiorFeatures}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.lastRenovationDate">
					<span class="entryItemContent">Last Renovation Date:
						<span>{{propDetails.lastRenovationDate}}</span>
					</span>
                    </li>

                    <div class="details-group-title" ng-if="propDetails.interiorSqft || propDetails.waitingArea">
                        Area Information
                    </div>
                    <li class="entry-item" ng-if="propDetails.interiorSqft">
					<span class="entryItemContent">Interior Area:
						<span>{{propDetails.interiorSqft}} Sq. Ft.</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.waitingArea">
					<span class="entryItemContent">Waiting Area:
						<span>{{propDetails.waitingArea}} Sq. Ft.</span>
					</span>
                    </li>

                    <div class="details-group-title" ng-if="propDetails.interiorSeatingArrangement || propDetails.indoorSeatingCapacity">
                        Seating Information
                    </div>
                    <li class="entry-item" ng-if="propDetails.interiorSeatingArrangement">
					<span class="entryItemContent">Interior Seating Arrangement:
						<span>{{propDetails.interiorSeatingArrangement}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.indoorSeatingCapacity">
					<span class="entryItemContent">Indoor Seating Capacity:
						<span>{{propDetails.indoorSeatingCapacity}}</span>
					</span>
                    </li>

                    <div class="details-group-title" ng-if="propDetails.furnitureCost || propDetails.interiorElectronics || propDetails.interiorCost">
                        Cost Information
                    </div>
                    <li class="entry-item" ng-if="propDetails.furnitureCost">
					<span class="entryItemContent">Approx Furniture Cost:
						<span>${{propDetails.furnitureCost}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.interiorElectronics">
					<span class="entryItemContent">Interior Electronics:
						<span>{{propDetails.interiorElectronics}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.interiorCost">
					<span class="entryItemContent">Interior Cost:
						<span>${{propDetails.interiorCost}}</span>
					</span>
                    </li>

                    <div class="details-group-title" ng-if="propDetails.barType || propDetails.barSeatingCapacity">
                        Bar Information
                    </div>
                    <li class="entry-item" ng-if="propDetails.barType">
					<span class="entryItemContent">Interior Bar Type:
						<span>{{propDetails.barType}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.barSeatingCapacity">
					<span class="entryItemContent">Bar Seating Capacity:
						<span>{{propDetails.barSeatingCapacity}}</span>
					</span>
                    </li>

                    <div class="details-group-title" ng-if="propDetails.interiorRestrooms || propDetails.interiorRestroomsADA">
                        Restroom Information
                    </div>
                    <li class="entry-item" ng-if="propDetails.interiorRestrooms">
					<span class="entryItemContent">Number of Restrooms:
						<span>{{propDetails.interiorRestrooms}}</span>
					</span>
                    </li>
                    <li class="entry-item" ng-if="propDetails.interiorRestroomsADA">
					<span class="entryItemContent">Restroom ADA Complaint:
						<span>{{propDetails.interiorRestroomsADA}}</span>
					</span>
                    </li>

                </div>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-show="editInterior">
        <div class="row">
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Interior Area</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorSqft"
                       name="interiorSqft" id="interiorSqft" ng-init="oldRest.interiorSqft=propDetails.interiorSqft">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Condition</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.condition"
                       name="condition" id="condition" placeholder="" ng-init="oldRest.condition=propDetails.condition">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Indoor Seating Capacity</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.indoorSeatingCapacity"
                       name="indoorSeatingCapacity" id="indoorSeatingCapacity" ng-init="oldRest.indoorSeatingCapacity=propDetails.indoorSeatingCapacity">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Approx Furniture Cost</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.furnitureCost"
                       name="furnitureCost" id="furnitureCost" placeholder="$" ng-init="oldRest.furnitureCost=propDetails.furnitureCost">
            </div>

            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Last Renovation Date</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.lastRenovationDate"
                       name="lastRenovationDate" id="lastRenovationDate" placeholder="yyyy-mm-dd" ng-init="oldRest.lastRenovationDate=propDetails.lastRenovationDate">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Waiting Area Capacity</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.waitingArea"
                       name="waitingArea" id="waitingArea" placeholder="" ng-init="oldRest.waitingArea=propDetails.waitingArea">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Interior Cost</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorCost"
                       name="interiorCost" id="interiorCost" placeholder="$" ng-init="oldRest.interiorCost=propDetails.interiorCost">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Interior Features</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorFeatures"
                       name="interiorFeatures" id="interiorFeatures" placeholder="" ng-init="oldRest.interiorFeatures=propDetails.interiorFeatures">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Interior Electronics</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorElectronics"
                       name="interiorElectronics" id="interiorElectronics" placeholder="" ng-init="oldRest.interiorElectronics=propDetails.interiorElectronics">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Seating Arrangement</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorSeatingArrangement"
                       name="interiorSeatingArrangement" id="interiorSeatingArrangement" placeholder="" ng-init="oldRest.interiorSeatingArrangement=propDetails.interiorSeatingArrangement">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Bar Type</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.barType"
                       name="barType" id="barType" placeholder="" ng-init="oldRest.barType=propDetails.barType">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Bar Seating Capacity</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.barSeatingCapacity"
                       name="barSeatingCapacity" id="barSeatingCapacity" placeholder="" ng-init="oldRest.barSeatingCapacity=propDetails.barSeatingCapacity">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Number of Restrooms</label>
                <input type="text" class="form-control form-control-md" ng-model="propDetails.interiorRestrooms"
                       name="interiorRestrooms" id="interiorRestrooms" placeholder="" ng-init="oldRest.interiorRestrooms=propDetails.interiorRestrooms">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                <label>Restroom ADA Compliant</label>
                <div class="radio radio-inline">
                    <input type="radio" id="interiorRestroomsADA" ng-model="propDetails.interiorRestroomsADA" value="Yes"
                           ng-init="oldRest.interiorRestroomsADA=propDetails.interiorRestroomsADA">
                    <label for="interiorRestroomsADA">Yes</label>
                </div>
                <div class="radio radio-inline">
                    <input type="radio" id="noInteriorRestroomsADA" ng-model="propDetails.interiorRestroomsADA" value="No"
                           ng-init="oldRest.interiorRestroomsADA=propDetails.interiorRestroomsADA">
                    <label for="noInteriorRestroomsADA">No</label>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Kitchen Features</div>-->
    <!--<div class="super-group-content">-->
        <!--<div class="details-group">-->
            <!--<ul class="ul-style">-->
                <!--<div class="no-break-inside">-->
                    <!--<div class="details-group-title" ng-if="propDetails.kitchenSqft || propDetails.kitchenHoodSize">-->
                        <!--Area Information-->
                    <!--</div>-->
                    <!--<li class="entry-item" ng-if="propDetails.kitchenSqft">-->
						<!--<span class="entryItemContent">Kitchen Size:-->
							<!--<span>{{propDetails.kitchenSqft}} Sq. Ft.</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.kitchenHoodSize">-->
						<!--<span class="entryItemContent">Hood Size:-->
							<!--<span>{{propDetails.kitchenHoodSize}} Sq. Ft.</span>-->
						<!--</span>-->
                    <!--</li>-->

                    <!--<div class="details-group-title">-->
                        <!--&lt;!&ndash;ng-if="propDetails.dishwasher || propDetails.oven || propDetails.walkInFreezer ||&ndash;&gt;-->
                        <!--&lt;!&ndash;propDetails.refrigerator || propDetails.dishCapacity || propDetails.numberOfOvens || propDetails.numberOfCookingRange ||&ndash;&gt;-->
                        <!--&lt;!&ndash;propDetails.exhaustType || propDetails.dryStorage ||"&ndash;&gt;-->
                        <!--Appliances Information-->
                    <!--</div>-->
                    <!--<li class="entry-item">-->
						<!--<span class="entryItemContent">Dishwasher:-->
							<!--<span>{{propDetails.dishWasher}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item">-->
						<!--<span class="entryItemContent">Range/Oven:-->
							<!--<span>{{propDetails.oven}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item">-->
						<!--<span class="entryItemContent">Walk in Freezer:-->
							<!--<span>{{propDetails.walkInFreezer}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item">-->
						<!--<span class="entryItemContent">Refrigerators:-->
							<!--<span>{{propDetails.refrigerator}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.dishCapacity">-->
						<!--<span class="entryItemContent">Dish capacity:-->
							<!--<span>{{propDetails.dishCapacity}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.numberOfOvens">-->
						<!--<span class="entryItemContent">Number of Ovens:-->
							<!--<span>{{propDetails.numberOfOvens}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.numberOfCookingRange">-->
						<!--<span class="entryItemContent">Number of Cooking Range:-->
							<!--<span>{{propDetails.numberOfCookingRange}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.exhaustType">-->
						<!--<span class="entryItemContent">Exhaust Type:-->
							<!--<span>{{propDetails.exhaustType}}</span>-->
						<!--</span>-->
                    <!--</li>-->
                    <!--<li class="entry-item" ng-if="propDetails.dryStorage">-->
						<!--<span class="entryItemContent">Dry Storage:-->
							<!--<span>{{propDetails.dryStorage}}</span>-->
						<!--</span>-->
                    <!--</li>-->

                    <!--<div class="details-group-title" ng-if="propDetails.totalCostUtensils">-->
                        <!--Cost Information-->
                    <!--</div>-->
                    <!--<li class="entry-item" ng-if="propDetails.totalCostUtensils">-->
						<!--<span class="entryItemContent">Total Cost of Utensils:-->
							<!--<span>${{propDetails.totalCostUtensils}}</span>-->
						<!--</span>-->
                    <!--</li>-->

                <!--</div>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Revenues Detail</div>-->
    <!--<div class="super-group-content">-->
        <!--<ul class="ul-style">-->
            <!--<div class="no-break-inside">-->
                <!--<li class="entry-item" ng-if="propDetails.avgRevenueInResto">-->
					<!--<span class="entryItemContent">Average Revenue of Restaurant:-->
						<!--<span>${{propDetails.avgRevenueInResto}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.avgRevenueCatering">-->
					<!--<span class="entryItemContent">Average Revenue of Catering:-->
						<!--<span>${{propDetails.avgRevenueCatering}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.avgRevenueToGo">-->
					<!--<span class="entryItemContent">Average Revenue of To Go:-->
						<!--<span>${{propDetails.avgRevenueToGo}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.avgTevenueLiquor">-->
					<!--<span class="entryItemContent">Average Revenue of Liquor:-->
						<!--<span>${{propDetails.avgTevenueLiquor}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.avgIncome">-->
					<!--<span class="entryItemContent">Average Income:-->
						<!--<span>${{propDetails.avgIncome}}</span>-->
					<!--</span>-->
                <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Expenses Detail</div>-->
    <!--<div class="super-group-content">-->
        <!--<ul class="ul-style">-->
            <!--<div class="no-break-inside">-->
                <!--<li class="entry-item" ng-if="propDetails.monthlyRent">-->
					<!--<span class="entryItemContent">Monthly Rent:-->
						<!--<span>${{propDetails.monthlyRent}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.nnnExpense">-->
					<!--<span class="entryItemContent">NNN Expense:-->
						<!--<span>${{propDetails.nnnExpense}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.garbageExpense">-->
					<!--<span class="entryItemContent">Garbage Expense:-->
						<!--<span>${{propDetails.garbageExpense}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.utilitiesExpense">-->
					<!--<span class="entryItemContent">Utilities Expense:-->
						<!--<span>${{propDetails.utilitiesExpense}}</span>-->
					<!--</span>-->
                <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Employees Detail</div>-->
    <!--<div class="super-group-content">-->
        <!--<ul class="ul-style">-->
            <!--<div class="no-break-inside">-->
                <!--<li class="entry-item" ng-if="propDetails.fulltime_emp">-->
					<!--<span class="entryItemContent">Number of Full Time Employees:-->
						<!--<span>{{propDetails.fulltime_emp}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.parttiem_emp">-->
					<!--<span class="entryItemContent">Number of Part Time Employees:-->
						<!--<span>{{propDetails.parttiem_emp}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.certified_emp">-->
					<!--<span class="entryItemContent">Number of Certified Employees:-->
						<!--<span>{{propDetails.certified_emp}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.total_emp">-->
					<!--<span class="entryItemContent">Total Employees:-->
						<!--<span>{{propDetails.total_emp}}</span>-->
					<!--</span>-->
                <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Surroundings Information</div>-->
    <!--<div class="super-group-content">-->
        <!--<ul class="ul-style">-->
            <!--<div class="no-break-inside">-->
                <!--<li class="entry-item" ng-if="propDetails.security">-->
					<!--<span class="entryItemContent">Security:-->
						<!--<span>{{propDetails.security}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.surroundingBusiness">-->
					<!--<span class="entryItemContent">Surrounding Business:-->
						<!--<span>{{propDetails.surroundingBusiness}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.residentialArea">-->
					<!--<span class="entryItemContent">Residential Area:-->
						<!--<span>{{propDetails.residentialArea}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.walkScore">-->
					<!--<span class="entryItemContent">Walk Score:-->
						<!--<span>{{propDetails.walkScore}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.crimeIndicator">-->
					<!--<span class="entryItemContent">Crime Indicator:-->
						<!--<span>{{propDetails.crimeIndicator}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.wikiDemoLink">-->
					<!--<span class="entryItemContent">Wiki Demo Link:-->
						<!--<span>{{propDetails.wikiDemoLink}}</span>-->
					<!--</span>-->
                <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="business-specific-details-container">-->
    <!--<div class="super-group-title">Miscellaneous Information</div>-->
    <!--<div class="super-group-content">-->
        <!--<ul class="ul-style">-->
            <!--<div class="no-break-inside">-->
                <!--<li class="entry-item" ng-if="propDetails.structureAge">-->
					<!--<span class="entryItemContent">Structure Age::-->
						<!--<span>{{propDetails.structureAge}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.signageSize">-->
					<!--<span class="entryItemContent">Signage Size:-->
						<!--<span>{{propDetails.signageSize}}</span>-->
					<!--</span>-->
                <!--</li>-->
                <!--<li class="entry-item" ng-if="propDetails.signageHighVisibility">-->
					<!--<span class="entryItemContent">Signage High Visibility:-->
						<!--<span>{{propDetails.signageHighVisibility}}</span>-->
					<!--</span>-->
                <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
