<!--Dry Cleaners-->
<h3 class="subheadline" >Dry Cleaners</h3>
<div class="row form-group">
    <!--Equipment details-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Equipment details</label><br/>
        <div class="row form-group">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.dryCleaningMachine"
                           name="dryCleaningMachine" id="dryCleaningMachine" ng-checked="true">
                    <label for="dryCleaningMachine">Dry Cleaning</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.laundryMachine"
                           name="laundryMachine" id="laundryMachine" ng-checked="true">
                    <label for="laundryMachine">Laundry Machine</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.pressingMachine"
                           name="pressingMachine" id="pressingMachine" ng-checked="true">
                    <label for="pressingMachine">Pressing Machine</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.dryer"
                           name="dryer" id="dryer" ng-checked="true">
                    <label for="dryer">Dryer Machine</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.shirtMachine"
                           name="shirtMachine" id="shirtMachine" ng-checked="true">
                    <label for="shirtMachine">Shirt Machine</label>
                </div>
            </div>
        </div>
    </div>

    <!--Type Of Service-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Type Of Service</label><br/>
        <div class="row form-group">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.fullService"
                           name="fullService" id="fullService" ng-checked="true">
                    <label for="fullService">Full Service</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.sameDayService"
                           name="sameDayService" id="sameDayService" ng-checked="true">
                    <label for="sameDayService">Same Day</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.pickUpDrop"
                           name="pickUpDrop" id="pickUpDrop" ng-checked="true">
                    <label for="pickUpDrop">Pick up/Drop</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-model="property.dryCleaners.alteration"
                           name="alteration" id="alteration" ng-checked="true">
                    <label for="alteration">Alteration</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Open Hours</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.openHours">
    </div>
    <div class="form-group col-md-6 col-lg-6 col-xl-6">
        <label>Number of Restrooms</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.numberOfRestrooms">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
            <label>Agency Association</label><br/>
            <div class="radio radio-inline">
                <input type="radio" id="agencyAssociation" ng-model="property.dryCleaners.agencyAssociation" value="Yes">
                <label for="agencyAssociation">Yes</label>
            </div>
            <div class="radio radio-inline">
                <input type="radio" id="noAgencyAssociation" ng-model="property.dryCleaners.agencyAssociation" value="No">
                <label for="noAgencyAssociation">No</label>
            </div>
        </div>

        <div class="form-group" ng-show="property.dryCleaners.agencyAssociation == 'Yes'">
            <label>List Associated Agencies Name</label>
            <textarea class="form-control form-control-md text-editor" ng-model="property.dryCleaners.agencyDesc" placeholder=""></textarea>
        </div>
    </div>

    <!--Expenses-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExpenses = ! hideExpenses">
            <label ng-class="{'details-not-expanded': hideExpenses, 'details-expanded': !hideExpenses}" >Expenses Detail</label>
            <img ng-show="!hideExpenses" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExpenses" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExpenses">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Rent</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.monthlyRent"
                           name="rent" id="rent" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>NNN</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.nnnExpense"
                           name="nnn" id="nnn" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Garbage</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.garbageExpense"
                           name="garbage" id="garbage" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Utilities</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.utilitiesExpense"
                           name="utilities" id="utilities" placeholder="$">
                </div>
            </div>
        </div>
    </div>

    <!--Revenue-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideRevenue = ! hideRevenue">
            <label ng-class="{'details-not-expanded': hideRevenue, 'details-expanded': !hideRevenue}" >Revenues Detail</label>
            <img ng-show="!hideRevenue" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideRevenue" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideRevenue">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Income</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.avgIncome"
                           name="avgIncome" id="avgIncome" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Revenue</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.avgRevenue"
                           name="avgRevenue" id="avgRevenue" placeholder="$">
                </div>
            </div>
        </div>
    </div>

    <!--Employees-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideEmployees = ! hideEmployees">
            <label ng-class="{'details-not-expanded': hideEmployees, 'details-expanded': !hideEmployees}" >Employees Detail</label>
            <img ng-show="!hideEmployees" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideEmployees" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideEmployees">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Full Time Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.fulltime_emp"
                           name="fulltime_emp" id="fulltime_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Part Time Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.parttiem_emp"
                           name="parttiem_emp" id="parttiem_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Certified Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.certified_emp"
                           name="certified_emp" id="certified_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Total Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.total_emp"
                           name="total_emp" id="total_emp" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <!--Surroundings Information-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideSurroundings = ! hideSurroundings">
            <label ng-class="{'details-not-expanded': hideSurroundings, 'details-expanded': !hideSurroundings}" >Surroundings Information</label>
            <img ng-show="!hideSurroundings" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideSurroundings" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideSurroundings">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Crime Indicator</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.crimeIndicator"
                           name="crimeIndicator" id="crimeIndicator" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Residential Area</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.residentialArea"
                           name="residentialArea" id="residentialArea" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Security</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.security"
                           name="security" id="security" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Surrounding Businesses</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.surroundingBusiness"
                           name="surroundingBusiness" id="surroundingBusiness" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Walk Score</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.walkscore"
                           name="walkscore" id="walkscore" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Wiki Demographic Link</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.demographicLink"
                           name="demographicLink" id="demographicLink" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Shopping Complex Traffic Score</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.dryCleaners.shoppingComplexTrafficScore"
                           name="shoppingComplexTrafficScore" id="shoppingComplexTrafficScore" placeholder="">
                </div>
            </div>
        </div>
    </div>

</div>
