<h3 class="subheadline">Restaurants</h3>
<div class="row form-group">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Cuisine Type</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.rest.type">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <label>Description</label>
        <input type="text" class="form-control form-control-md" placeholder="" ng-model="property.rest.description">
    </div>
</div>
<div class="row">
    <!--Kitchen-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideKitchen = ! hideKitchen">
            <label ng-class="{'details-not-expanded': hideKitchen, 'details-expanded': !hideKitchen}" >Kitchen Details</label>
            <img ng-show="!hideKitchen" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideKitchen" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideKitchen">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Hood Size</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.kitchenHoodSize"
                           name="kitchenHoodSize" id="kitchenHoodSize" placeholder="Sq. Ft.">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Kitchen Size</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.kitchenSqft"
                           name="kitchenSqft" id="kitchenSqft" placeholder="Sq. Ft.">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Dish Capacity</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.dishCapacity"
                           name="dishCapacity" id="dishCapacity" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Ovens</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.numberOfOvens"
                           name="numberOfOvens" id="numberOfOvens" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Cooking Range</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.cookingRange"
                           name="cookingRange" id="cookingRange" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Exhaust Type</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.exhaustType"
                           name="exhaustType" id="exhaustType" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Dry Storage</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.dryStorage"
                           name="dryStorage" id="dryStorage" placeholder="Sq. Ft.">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Total cost of Utensils</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.totalCostUtensils"
                           name="totalCostUtensils" id="totalCostUtensils" placeholder="$">
                </div>
            </div>

            <label>Appliances</label>
            <div class="row form-group">

                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" name="dishWasher" id="dishWasher" ng-model="property.rest.dishWasher"
                               ng-init="property.rest.dishWasher='Yes'" ng-false-value="No" ng-true-value="Yes">
                        <label for="dishWasher">Dishwasher</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" name="oven" id="oven" ng-model="property.rest.oven"
                               ng-init="property.rest.oven='Yes'" ng-false-value="No" ng-true-value="Yes">
                        <label for="oven">Range/Oven</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" name="walkInFreezer" id="walkInFreezer" ng-model="property.rest.walkInFreezer"
                               ng-init="property.rest.walkInFreezer='Yes'" ng-false-value="No" ng-true-value="Yes">
                        <label for="walkInFreezer">Walk in Freezer</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" name="refrigerator" id="refrigerator" ng-model="property.rest.refrigerator"
                               ng-init="property.rest.refrigerator='Yes'" ng-false-value="No" ng-true-value="Yes">
                        <label for="refrigerator">Refrigerator</label>
                    </div>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Available Appliances</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.availableAppliances"
                           name="availableAppliances" id="availableAppliances" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <!--Interior-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideInterior = ! hideInterior">
            <label ng-class="{'details-not-expanded': hideInterior, 'details-expanded': !hideInterior}" >Interior Details</label>
            <img ng-show="!hideInterior" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideInterior" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideInterior">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Interior Area</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorSqft"
                           name="interiorSqft" id="interiorSqft" placeholder="Sq. Ft.">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Condition</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.condition"
                           name="condition" id="condition" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Indoor Seating Capacity</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.indoorSeatingCapacity"
                           name="indoorSeatingCapacity" id="indoorSeatingCapacity" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Approx Furniture Cost</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.furnitureCost"
                           name="furnitureCost" id="furnitureCost" placeholder="$">
                </div>

                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Last Renovation Date</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.lastRenovationDate"
                           name="lastRenovationDate" id="lastRenovationDate" placeholder="yyyy-mm-dd">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Waiting Area Capacity</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.waitingArea"
                           name="waitingArea" id="waitingArea" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Interior Cost</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorCost"
                           name="interiorCost" id="interiorCost" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Interior Features</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorFeatures"
                           name="interiorFeatures" id="interiorFeatures" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Interior Electronics</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorElectronics"
                           name="interiorElectronics" id="interiorElectronics" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Seating Arrangement</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorSeatingArrangement"
                           name="interiorSeatingArrangement" id="interiorSeatingArrangement" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Bar Type</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.barType"
                           name="barType" id="barType" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Bar Seating Capacity</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.barSeatingCapacity"
                           name="barSeatingCapacity" id="barSeatingCapacity" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Restrooms</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.interiorRestrooms"
                           name="interiorRestrooms" id="interiorRestrooms" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Restroom ADA Compliant</label>
                    <div class="radio radio-inline">
                        <input type="radio" id="interiorRestroomsADA" ng-model="property.rest.interiorRestroomsADA" value="Yes">
                        <label for="interiorRestroomsADA">Yes</label>
                    </div>
                    <div class="radio radio-inline">
                        <input type="radio" id="noInteriorRestroomsADA" ng-model="property.rest.interiorRestroomsADA" value="No">
                        <label for="noInteriorRestroomsADA">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Exterior-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExterior = ! hideExterior">
            <label ng-class="{'details-not-expanded': hideExterior, 'details-expanded': !hideExterior}" >Exterior Details</label>
            <img ng-show="!hideExterior" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExterior" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExterior">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Exterior Type</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.exteriorType"
                           name="exteriorType" id="exteriorType" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Outdoor seating Capacity</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.outdoorSeatingCapacity"
                           name="outdoorSeatingCapacity" id="outdoorSeatingCapacity" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Parkings</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.parking"
                           name="parking" id="parking" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <!--Expenses-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideExpenses = ! hideExpenses">
            <label ng-class="{'details-not-expanded': hideExpenses, 'details-expanded': !hideExpenses}" >Expenses Detail</label>
            <img ng-show="!hideExpenses" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideExpenses" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideExpenses">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Rent</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.monthlyRent"
                           name="monthlyRent" id="monthlyRent" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>NNN</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.nnnExpense"
                           name="nnnExpense" id="nnnExpense" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Garbage</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.garbageExpense"
                           name="garbageExpense" id="garbageExpense" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Utilities</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.utilitiesExpense"
                           name="utilitiesExpense" id="utilitiesExpense" placeholder="$">
                </div>
            </div>
        </div>
    </div>

    <!--Revenue-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideRevenue = ! hideRevenue">
            <label ng-class="{'details-not-expanded': hideRevenue, 'details-expanded': !hideRevenue}" >Revenues Detail</label>
            <img ng-show="!hideRevenue" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideRevenue" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideRevenue">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Revenue in Restaurant</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.avgRevenueInResto"
                           name="avgRevenueInResto" id="avgRevenueInResto" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Revenue in Catering</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.avgRevenueCatering"
                           name="avgRevenueCatering" id="avgRevenueCatering" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Revenue in To Go</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.avgRevenueToGo"
                           name="avgRevenueToGo" id="avgRevenueToGo" placeholder="$">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Revenue in Liquor</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.avgTevenueLiquer"
                           name="avgTevenueLiquer" id="avgTevenueLiquer" placeholder="$">
                </div>

                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Average Income</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.avgIncome"
                           name="avgIncome" id="avgIncome" placeholder="$">
                </div>
            </div>
        </div>
    </div>

    <!--Employees-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideEmployees = ! hideEmployees">
            <label ng-class="{'details-not-expanded': hideEmployees, 'details-expanded': !hideEmployees}" >Employees Detail</label>
            <img ng-show="!hideEmployees" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideEmployees" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideEmployees">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Full Time Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.fulltime_emp"
                           name="fulltime_emp" id="fulltime_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Part Time Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.parttiem_emp"
                           name="parttiem_emp" id="parttiem_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Number of Certified Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.certified_emp"
                           name="certified_emp" id="certified_emp" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Total Employees</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.total_emp"
                           name="total_emp" id="total_emp" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <!--Surroundings Information-->
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div ng-click="hideSurroundings = ! hideSurroundings">
            <label ng-class="{'details-not-expanded': hideSurroundings, 'details-expanded': !hideSurroundings}" >Surroundings Information</label>
            <img ng-show="!hideSurroundings" ng-src="../../img/icon/downArrow.png" style="float: right"/>
            <img ng-show="hideSurroundings" ng-src="../../img/icon/upArrow.png" style="float: right"/>
        </div>
        <div ng-show="!hideSurroundings">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Crime Indicator</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.crimeIndicator"
                           name="crimeIndicator" id="crimeIndicator" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Residential Area</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.residentialArea"
                           name="residentialArea" id="residentialArea" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Security</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.security"
                           name="security" id="security" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Surrounding Businesses</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.surroundingBusiness"
                           name="surroundingBusiness" id="surroundingBusiness" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Walk Score</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.walkscore"
                           name="walkscore" id="walkscore" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Wiki Demographic Link</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.wikiDemoLink"
                           name="wikiDemoLink" id="wikiDemoLink" placeholder="">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                    <label>Shopping Complex Traffic Score</label>
                    <input type="text" class="form-control form-control-md" ng-model="property.rest.shoppingComplexTrafficScore"
                           name="shoppingComplexTrafficScore" id="shoppingComplexTrafficScore" placeholder="">
                </div>
            </div>
        </div>
    </div>

</div>
