/*	14.	Footer
-------------------------------------------------------------------*/

#footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e0e0e6;
	font-size: 14px;
	line-height: 22px;
	ul li {
		padding: 3px 0;
		font-size: 15px;
	}
	a {
		color: #777;
	}
} 